@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------------------------Colours*/

.bg-name-color-title {
    background-color: #dae4e1;
}
.ui-menu-color-home {
    background-color: #b43e3e;
}
.ui-menu-color-kitenge{
    background-color: #e9a0bd;
 }
.ui-menu-color-contact{
    background-color: #c78d8d;
}
.ui-menu-color-gallery {
    background-color: #d16977;
}
.bg-color-three-reasons{
    background: #ece0e0;;
}
.bg-color-personal-info {
 background: #fafafa
}
.bg-color-contact{
    background-color: hsl(0, 100%, 97%);
}
.bg-color-work-history{
  background-color: #d1c5cc;
}

/*-------------------------------------------------------------Special padding/margins/text */
h1,
h2,
h3,
h4 {
    margin: 0;
    color: #142221;
}
.uppercase {
    text-transform: uppercase;
}
.general-sub {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    color: #382d2d
}

.inline-block{
 display: inline-block;
}
.row-table{
 display: table;
}
.section-column{
    display: table-cell;
    padding: 0, 30px;
    float: none;
} 
.history-heading,
.section-heading {
    font-family: "Exo",sans-serif;
    font-weight: 300;
    margin-top: 25px;
    scroll-margin-bottom: 40px;
}

/*-------------------------------------------------------------Headings*/
header {
    margin: 0;
}

.heading{
    margin: 50px;
}

.logo {
    background: url("../images/picha4.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 
.logo-1 {
    background: url("../images/image-4.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 
.logo-2 {
    background: url("../images/image-4.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 
.logo-3 {
    background: url("../images/image-2.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 
.name{
    font-family: "Exo",sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px    ;
    color: rgba(230, 25, 161, 0.938);
}

.title{
    font-family: "Roboto",sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: rgba(228, 38, 13, 0.966);
}
#fabric:hover{
     background-color: #d1c5cc;
}

.list-inline-item:not(:last-child){
    margin: 0;
}
.menucontainer{
    font-size: 0;
}
.image-1{
    max-block-size: 30%
}
#nav{
    margin: 0;
}

#nav lI{
    font-size: 14px;
    padding: 0;
}
.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: rgb(247, 228, 228);
    height: 120px;
}
.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #f0f0ee;
    font-size: 26px;
}
.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
}
/*-------------------------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgb(160, 157, 157);
    height: 120px;
}


}
/*-------------------------------------------------------------Footer*/
footer {
    background-color: #215627
    color: #0ee7cab0;
    min-height: 120px;
    margin: 0;
}
.cv-pdf{f
    font-size: 18px;
    color: #1b1717;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.cv-pdf i:hover{
    color: #e84610
}
.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #774545;
    background: #b4aeae;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.social-links li a i:hover{
    background: #e84610;
}
#footer-details {
    padding: 20px;
}
.footer-details{
    padding: 20px;
}

/*-------------------------------------------------------------Three reasons*/
.three-reasons-icon {
   font-size: 26px;
   color: #e67e22;
}

.three-reasons-heading {
margin-bottom: 15px;
}
/*-------------------------------------------------------------Personal info*/

.personal-info-item {
  margin-bottom: 20px;
  display: block;
  clear: both;
}

.personal-info-item .key, 
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}
.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}
.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top
}
.personal-info-item .key p {
    font-weight: 700;
}
.personal-info-item .value {
    position: relative;
    width: 60%;
}
/*-------------------------------------------------------------Skills */
.progress{
    position: absolute;
    height: 25px;
    margin-bottom: 4px;
}
.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}
.progress-section{
    margin: 40px 20px; 
}

/*-------------------------------------------------------------Work history*/


.history-heading {
    color: #fafafa;
    margin-bottom: 50px;
}

.club-ethos{
    height: 100px; 
    position:auto;   
    }
#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}
#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: red;
}
#center-about{
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
    background-color: silver;
}
/*---------------------------------------------------------media queries*/
@media(min-width: 992px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0px , auto;
    max-width: 50;
}
/*----------------------------CAROUSEL*/
.corousel-item{
   -radius: .2rem;
    z-index: auto;
    transition: all 0.35s ease-in-out; 
    -moz-transition: all 0.35s ease-in-out; 
    -webkit-transition: all 0.35s ease-in-out; 
    -o-transition: all 0.35s ease-in-out; 
}
.slide{
    background-color: #8789aa
}